<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <%= link_to "Goals", "/goals" %>
  </li>
  <li class="nav-item">
    <%= link_to "Achievements", "/goals" %>
  </li>
</ul>


<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="sticky sticky-with-header sticky-top">
    <!--  <------------- Profile ---------------->
         <%= render 'shared/profile_summary'%>
    <!--  <------------- Goal Card ---------------->
      </div>
    </div>
    <div class="col-8">
      <%= render 'shared/goal_card'%>
    </div>
  </div>
</div>
