.container_signin {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.form_ueberschrift {
  text-align: center;
  margin-top: 50px;
}

.form-inputs {
 font-size: 15px;
}

.btn.btn-flat.log_in {
  display: block;
  margin: auto;
}

.member {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

  .login {
  // border: 1px solid lightgrey;
  padding: 3px 15px;
  font-size: 16px;
  // border-radius: 3px;
  max-width: 150px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.link_form {
  padding: 3px 15px;
  font-size: 16px;
  max-width: 300 px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.form-actions {
  font-size: 17px;
  display: block;
  margin: auto;
}
