h3 {
  font-weight: bold;
  margin: 0 auto;
}

.results-and-map {
  box-sizing: content-box;
}

#map {
  width: 30%;
  height: 600px;
  background-color: red;
  margin: 10px;
  box-sizing: content-box;
  z-index: 0;
  position: fixed;
  left: 60%;
}
