<div class="banner">
  <div class="banner-content container">
    <h1>Achieve your life goals</h1>
    <p>Become part of our community of achievers</p>
    <%= link_to "+  Add Goal", goals_path, class: "btn btn-flat" %>
  </div>
</div>
