<div class="banner">
  <div class="banner-content container">
    <h1>Achieve your life goals</h1>
     <p>
        <span id="banner-typed-text"></span>
      </p>
    <%= link_to "+  Add Goal", goals_path, class: "btn btn-flat" %>
  </div>
</div>
