<div class="banner">
  <div class="banner-content text-center">
    <h1>Change your life: learn to code!</h1>
    <p>Le Wagon brings technical skills to creative people</p>
    <%= link_to "Start now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
