<%= render 'shared/banner' %>
<div class="container">
<h2 class="recommendations" style="font-size: 25px; font-family: roboto; font-weight: 700; color: grey; margin-top: 44px; margin-bottom: -22px; color: #b2b2b2;">
  Get inspired by others
</h2>
  <div class="row my-5 h-100">
     <% @achievements.each do |achievement| %>
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
      <%= render 'shared/achievement_card', achievement: achievement %>
      </div>
      <% end %>
  </div>
</div>


