<%= render 'shared/banner' %>

<div class="container">
  <div class="row my-5">
    <div class="col-3">
      <%= render 'shared/achievement_card' %>
    </div>
  </div>
</div>

<div class="tesst" style= "height:300px;">
  <p>test footer position</p>
</div>
