.style_image {
  border-right: 1px solid #000;
}
.plus {
  padding-right: 40px;
}

.icon-color {
  width: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon-color {
  fill: #fafafa;
}

.indent-button {
  position: relative;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-title {
  font-size: 16px;
}

.card-img-top {
  height: 150px;
}

.card-home {
  padding: 0 !important;
}

.user-name {
    margin-bottom: 0;
    line-height: 2.5;
    margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
