.image_achievement {
  width: 100%;
}

.achievement_title {
  font-weight: 600;
  margin: 20px 0;
  font-size: 40px;
}

.price {
    opacity: 0.6;
    font-size: 14px;
  // margin-left: auto;
}

.row {
  justify-content: space-between;
}

.motivation {
  opacity: 0.7;
  margin-bottom: -2px;
  max-width: 524px;
  text-align: left;
}

.col-6 {
  border: 1px lightgrey solid;
  padding: 10px;
}
