.style_image {
  border-right: 1px solid #000;
}
.plus {
  padding-right: 40px;
}

.icon-color {
  width: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon-color {
  fill: #fafafa;
}

.indent-button {
  position: relative;
}

.card-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0px;
}

.card-title {
  font-size: 23px;
}

.card-img-top {
  height: 150px;
}

.closed_card {
  height: 0px;
  overflow: hidden;
}

.Goal_button {
  margin-top: 15px;
  margin-bottom: 15px;
}
