.c {
  /*margin: 20px;*/
}

.card-image {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
}

.card {
  margin-bottom: 30px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.rounded-circle {
  overflow:hidden;
  height:40px;
  width:40px;
  border-radius:50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
  position:absolute;
  top: 15px;
  left: 15px
}

.goal_description {
  min-width: 55%;
  text-align: left;
}

.name.mb-0 {
  font-size: 15px;
}

.container_new {
  margin-top: 20px;
  margin-bottom: 5px;
}

.flexbox {
  padding: 4px 0;
}

.Goal_button {

}
