.style_image {
  border-right: 1px solid #000;
}
.plus {
  padding-right: 40px;
}

.icon-color {
  width: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon-color {
  fill: #fafafa;
}

.indent-button {
  position: relative;
}

.card-body {
  min-height: 251px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0px;
}

.card-text {
  color: #8e8e8e
}

.card-title {
  font-size: 18px;
  text-transform: capitalize;
  color: #3E3E3E;
}

.card-img-top {
  height: 150px;
}

.card-home {
  padding: 0 !important;
}

.user-name {
    margin-bottom: 0;
    line-height: 2.5;
    margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.icons-card {
  p {
    font-style: normal;
    font-size: 12px;
    color: #3E3E3E;
  }
  b {
    color: #3E3E3E;
  }
}

.rounded-circle-index {
  overflow:hidden;
  height:40px;
  width:40px;
  border-radius:50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

