.banner {
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(255,255,255,0.4)), image-url("banner1.jpg");
  background-size: cover;
  background-position: 10% 15%;
  color: #3E3E3E;
  text-align: left;
  background-color: #f0f0f0;
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    font-family: roboto thin;
    font-style: italic;
    color: #3E3E3E;
    opacity: .5;
    font-size: 25px;
    margin-bottom: 30px;;
  }
/*  .banner-content {
    padding-left: 5rem;
  }*/
}
