.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  text-align: center;
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-bottom: 5px;

  .headline {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 50px;
  color: $logo-green
    }
  }
}

.date-added {
  font-weight: bold;
  opacity: .7;
}

.progress-management {
  width: 100%;
  padding: 10px 20px;
}

.progress {
  width: 100%;
  background-color: #C4C4C4;
  border-radius: 8px;
  margin-right: 28px;
}

.progress-bar {
  background-color: $logo-green;
  border-radius: 8px;
}

.card-trip > .image-card-goal{
  height: 250px;
  width: 100%;
  object-fit: cover;
  padding: 12px;
  border-radius: 18px 18px 0px 0px;
}

.card-trip .motivation {
    font-size: 12px;
    opacity: .7;
    margin-left: 0;
    margin-top: 40px;
}

.box-inspiration {
  margin-right: 7px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  top: -50px;
}

.green-point {
  right: 35px;
  max-width: 30px;
  top: 204px;
}

.milestone_items {
  margin: 10px 45px;
  position: relative;
}

.lockup {
  position: absolute;
  right: 23px;
  top: 14px;
  .target {
    max-width: 25px;
    margin-top: -3px;
    margin-right: 3px;
  }
  h2 {
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 700;
    color: $logo-green;
  }
  p {
    font-size: .7rem;
    margin-top: 8px;
  }
}

.btn-light {
  background-color: $logo-green;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
}

.btn-light:hover {
  color: $rose;
}
@media (max-width: 990px) {
  // .lockup {
  //   position: relative;
  // }
  .card-trip .motivation  {
      width: 250px;
}
}

.inspiration-text {
  font-size: 11px;
  margin: 0;
  margin-left: 7px;
  margin-right: 3px;
  line-height: 9px;
  margin-top: 6px;
}

.name {
  font-size: 11px;
  font-weight: 700;
  margin-left: 7px;
}

.inspiration-image {
  width: 30px;
  padding-bottom: 15px;
}

.inspiration {
  position: absolute;
  background-color: white;
  top: 202px;
  left: 17px;
  padding: 5px;
  border-radius: 5px;
}

.profile {
  background: $logo-green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.btn-flat {
  font-size: 12px;
}

.closed_card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px inset;
}

.headlines {
  font-size: 14px;
  margin: 15px 45px;
  font-weight: 700;
  margin-bottom: 0px;
}

.item_name {
  min-width: 5%;
}

.checkbox_milestones {
  position: absolute;
  left: -30px;
}

.description {

}

.nav-tabs {
  margin-top: -11px;
  padding: 11px;
  position: relative;
    :hover{
      background-color: $rose;
  }
  }
.nav-tabs > li {
  font-weight: bold;
  list-style-type: none;
  display: inline;
  border: solid;
  border-width: 0;
  margin: 0 5px 0 0;
  border-radius: 4px;
  padding: 8px 24px;
  background: #CF4A82;
  -webkit-transition: background 0.3s ease;
  color: #fafafa;
   :hover {
  color: #fafafa;
  text-decoration: none;
  }
  a {
    color: white;
  }
}

.nav-tabs .nav-item {
  margin-right: 13px;
  margin-left: -10px;
  margin-bottom: -12px;
  border-radius: 8px 8px 0px 0;
}

.milestone_submit_button {
  display: none;
}



