.new-goal {
  background: white;
  width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  .image-goal {
    height: 250px;
    width: 100%;
    object-fit: cover;
    background-color: grey;
    padding: 12px;
    margin-bottom: 12px;
    // border: 1px solid red ;
    border-radius: 8px 8px 0px 0px;
    .upload-field {
      width: 400px;
      background-color:white;
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      top: 95px;
    }
  }
  h3 {
    font-size: 18px;
    padding-bottom: 18px;
  }
  .inspiration-new {
    // padding: 8px;
    width: 150px;
    border-radius: 8px;
    position: absolute;
    top: 230px;
    left: 8px;
    padding-top: 4px;
    padding-left: 8px;
    background-color: white;
    .box-inspiration {
      margin-right: 7px;
    }
  }
  .goal-target {
    position: absolute;
    right: 23px;
    top: 312px;
    .target {
      max-width: 25px;
      margin-top: -3px;
      margin-right: 3px;
    }
    h2 {
      margin-bottom: 0 !important;
      font-size: 18px;
      font-weight: 700;
      color: $logo-green;
    }
    p {
      font-size: .7rem;
      margin-top: 8px;
    }
  }
 .title input {
    font-size: 20px;
    font-weight: bold;
    width: 400px;
  }
  .motivation input {
    font-size: 14px;
  }
}

.progress-management {
  width: 100%;
  padding: 10px 20px;
}

.progress {
  width: 100%;
  background-color: #C4C4C4;
  border-radius: 8px;
  margin-right: 28px;
}

.progress-bar {
  background-color: #47c79f;
  border-radius: 8px;
}



.milestones {
  .milestone-done {
    width: 25px;
    position: relative;
    top: -11px;
  }
  .milestone-name  {
    width: 120px;
  }
  .milestone-description  {
    width: 300px;
  }
  .milestone-price  {
    width: 100px;
  }
  .remove-milestone{
    font-size: 18px;
    position: relative;
    right: 0px;
    top: -9px;
  }
}
