.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  /*width: 40px;*/
}
.logo-nav {
 /* height: 50px;*/
}
.plus {
  padding-right: 20px;
}
