
/* containers*/
.my-container {
  width: 600px;
  background-color: none;
  padding: 10px;
  position: absolute;
  top: 5px;
  /*left: 50%;*/
  margin-left: 50px;
  z-index: 2;
  border-radius: 3px;

}
#hidden-search {
  display: none;
  background-color: white;
  padding-top: 20px;
  width: 522px;
  position: absolute;
  padding-bottom: 30px;
  border-radius: 3px;
  left: 50%;
  margin-left: 50 px;
  z-index: 2;
  border-radius: 3px;
}
.box {
  margin: 0px 30px;
}
.binoculars {
  background-color: $logo-pink;
  border-radius: 0 4px 4px 0;
  opacity: 0.5;
  &:hover{
    background-color: $logo-pink;
    opacity: 0.8;
  }
}
.recent {
  border-top: 1px solid $border-grey;
}
.searches {
  margin-top: 20px;
  border-top: 1px solid $border-grey;
}
.explore {
  .simple_form {
    margin: 0 5px;
    flex-grow: 1;
    input {
      width: 100%
    }
  }
}
.my-row {
  width:100%;
}

/*input*/
.query-input {
  flex-grow: 1;
  height:50px;
  /*min-width:300px !important;*/
  border-radius: 4px 0 0 4px;
  border: none;
  box-shadow: 0 0px 10px rgba(0,0,0,.1);
}
.input-field {
  flex-grow: 1;
}
.top-search {
  .form-group {
    width: 100%;
    margin-bottom: 0;
  }
}
.search-header {
  font-weight: bold;
  font-size: 12px;
  margin: 20px 0px 10px 0px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
/*buttons*/
/*.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  margin: 0;
  color: $font-black;
  border-radius: 2px;
  background-color: white;
  height: 1.6em;
  min-width: 108px;
  /*text-align: center;*/
  /*flex-grow: 1;*/
  /*align-content: center;*/
/*}*/
.our-btn {
  margin: 0;
  color: $font-black;
  border-radius: 2px;
  background-color: white;
  height: 1.6em;
  min-width: 108px;
  /*text-align: center;*/
  flex-grow: 1;
  /*align-content: center;*/
}
.small-btn{
  font-size: 13px;
}
.city-btn {
  border: 1px solid $border-grey;
  flex-grow: 1;
  margin: 0px 5px 0px 5px;
}

.explore-btn {
  height: 1.8em;
  box-shadow: 0 0px 10px rgba(0,0,0,.1);
  border: none;
}
