
.my-container {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  top: 5px;
  left: 50%;
  z-index: 1;
  border-radius: 3px;

}
#hidden-search {
  margin-top: 50px;
  margin-left: 29px;
  margin-right: auto;
  display: none;
  background-color: white;
  padding-top: 20px;
  width: 541px;
  position: absolute;
  padding-bottom: 30px;
  z-index: 2;
  border-radius: 3px;
}
#close {
  color: $border-grey;
  display: inline;
  position: absolute;
  right: 30px;
  margin-bottom: -10px !important;
}
.box {
  margin: 0px 30px;
}
.binoculars {
  background-color: transparent;
  font-size: 18px;
  color: #ababab;
  padding: 12px 11px;
  &:hover{
    background-color: $logo-pink;
    opacity: 0.5;
  }
}
.recent {
  border-top: 1px solid $border-grey;
}
.searches {
  margin-top: 20px;
  border-top: 1px solid $border-grey;
}
.explore {
  .simple_form {
    margin: 0 5px;
    flex-grow: 1;
    input {
      width: 100%
    }
  }
}
.my-row {
  width:100%;
}

.query-input {
  flex-grow: 1;
  height:50px;
  border-radius: 4px 0 0 4px;
  border: none;
  box-shadow: 0 0px 0.25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.input-field {
  flex-grow: 1;
}
.top-search {
  .form-group {
    width: 100%;
    margin-bottom: 0;
  }
}
.search-header {
  font-weight: bold;
  font-size: 12px;
  margin: 20px 0px 10px 0px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.our-btn {
  color: #3E3E3E;
  border-radius: 2px;
  background-color: white;
  height: 1.6em;
  min-width: 108px;
  flex-grow: 1;
}

.city-btn {
  font-size: 13px;
  box-shadow: 0 0px 0.25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0px 5px 0px 5px;
  text-transform: capitalize;
  border: none;
}

.explore-btn {
  height: 1.8em;
  box-shadow: 0 0px 0.25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  border: none;
}

@media(max-width: 800px) {
  .my-container {
    width: 400px;
  }
}

@media(max-width: 568px) {
  #hidden-search {
    width: 200px;
  }
  .explore {
    flex-wrap: wrap;
  }
  .cities {
    flex-wrap: wrap;
  }
  .small-btn.d-flex.justify-content-between {
    flex-wrap: wrap;
  }
  .navbar-nav.mr-auto {
    flex-direction: row;
  }

}

@media(max-width: 550px) {
  .my-container{
    width: 250px;
  }
}



