
.btn-flat {
  text-transform: uppercase;
  color: #fafafa;
  padding: 8px 24px;
  border-radius: 4px;
  background: #CF4A82;
  -webkit-transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FFB8D1;
  color: #fafafa;
}



.btn-flat:after{
    bottom:0; right:0;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

