<div class="container">
  <div class="row mt-3 results-and-map ">

    <div class="col-8">
      <div class="results ">
        <h3><%= @text %></h3>
        <% @achievements.each do |goal| %>
          <%= render "shared/achievement_card_wide", achievement: goal %>
        <% end %>
      </div>
    </div>
    <div class= 'col-4' >
      <div class=' sticky-top'id="map" data-markers="<%= @markers.to_json %>", data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>

