<div class="d-flex">
  <% @achievements.each do |achievement| %>
  <%#= achievement.searchable_type %>
    <%# if achievement.searchable_type == "Goal" %>
      <%=  achievement.title %>
    <%# else %>
      <%#= 'else' %>
    <% end %>

    <%# activity = Activity.find(achievement.activity_id) %>
    <div style='height: 50px; padding: 20px;'> <%#= achievement.title %> </div>

</div>
