<div class="d-flex">
  <% @achievements.each do |achievement| %>
   <%=  achievement.searchable_text %>
    <%# activity = Activity.find(achievement.activity_id) %>
    <div style='height: 50px; padding: 20px;'> <%#= achievement.title %> </div>
  <% end %>
</div>
<div style='height: 500px;'></div>


<%# @results.each do |result| %>
            <%# if result.searchable_type == "Topic" && result.searchable.profession == current_user.profession %>
              <%#= render "card_link_topic", result: result %>
            <%# end %>
          <%# end %>`
