<div class="container w-100">
  <div class="row">

    <div class="results col-xs-8 x">
      <h3><%= @text %></h3>
      <% @achievements.each do |goal| %>
        <%= render "shared/achievement_card_wide", achievement: goal %>
      <% end %>
    </div>

    <div class= 'col-xs-4' id="map", data-markers="<%= @markers.to_json %>">

  </div>
</div>




  <div style='height: 50px; padding: 20px;'></div>
