<div class="d-flex">
  <div class="results">
    <h3><%= @text %></h3>
    <!-- <div class="d-flex"> -->
        <% @achievements.each do |goal| %>
          <%= render "achievement_card_wide", achievement: goal %>
        <% end %>
  </div>

  <div id="map">

  </div>


</div>



  <div style='height: 500px; padding: 20px;'></div>
